@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}
.container {
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    gap: 2rem;
    padding: 1rem;
}

dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ebebeb ;
    border: none;
    padding: 3.5rem;
}

#library-form {
    display: grid;
    justify-items: center;
    font-size: 1rem;
    gap: 1rem;
    
    div:first-child {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    input {
        background-color: #f5f5f5;
        font-size: 1.2rem;
    }

    button {
        justify-self: center;
        width: 10rem;
        height: 2.5rem;
    }
    .check-status {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}

#addBook {
    padding: 25px;
    justify-self: center;
    max-height: 4rem;
}

button {
    background-color: rgb(68, 107, 198);
    color: white;
    font-size: 1rem;
    padding: 10px;
    max-width: 200px;
    border: none;
    border-radius: 10px;
}

button:hover {
    scale: 1.04;
}

input {
    height: 3rem;
    border-radius: 5px;
    border: none;
}

.card {
    background-color: white;
    border-radius: 10px;
    font-size: 0.8rem;
    height: 200px;
    padding: 1rem;
    gap: 0.5rem;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    button {
        font-size: 0.8rem;
        width: 5rem;
    }
    > div {
        grid-column: span 2;
    }
}

.shelf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    overflow-y: scroll;
    height: 35rem;
    padding: 2rem;
}

.status {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
    justify-self: start;
}

.delete {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    justify-self: end;
}

fieldset {
    font-size: 0.8rem;
    padding: 0.8rem;

    > div {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }
}